* {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling : touch;
}

a {
  color: #eee;
  text-decoration: none;
}

/* Clear Fix */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
/* Clearfix end */

.left {
  float: left;
}

.right {
  float: right;
}
