body {
    background: #ffffff;
    margin: 0;
    /* width: 380px; */
    width: 450px;
    height: 580px;
    border-radius: 25px;
    overflow-x:hidden;
  }
loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1f1f1f;
    z-index: 99;
}
